#div1{
    background-color: rgb(236, 212, 180);
    width: 500px;
    /* border: 1px solid black; */
    border-radius: 20px;
    margin: 20px auto;
    padding: 20px;
}


#msg{
    background-color: rgb(87, 132, 245);
    width: 400px;
    /* border: 1px solid black; */
    border-radius: 20px;
    margin: 20px auto;
    padding: 20px;
}